<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MyTickets</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#">Find Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Create Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help Center</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">logout</a>
            </li>
        </ul>
    </div>
    </div>
  </nav>
</header>
